<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wearosgyro">

    <!-- 센서 데이터 접근을 위한 권한 -->
    <uses-permission android:name="android.permission.BODY_SENSORS"/>

    <!-- Wear OS 전용 앱으로 설정 -->
    <uses-feature android:name="android.hardware.type.watch"/>

    <application
        android:allowBackup="true"
        android:theme="@android:style/Theme.DeviceDefault"
        android:label="WearOS Gyro"
        android:supportsRtl="true">

        <!-- 독립 실행형 Wear OS 앱 설정 -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>